/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.focus {
    transition: all 150ms ease;
    margin: 0.5em 0 0.5em 0;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 22px 53px 4px;
    border: 1px solid white;
    padding: 2em !important;
    border-radius: 0.5em;
    list-style-type: none;
}